backend==0.2.4.1
fastapi==0.116.1
gTTS==2.5.4
langchain==0.3.27
langchain_community==0.3.27
langchain_core==0.3.74
langchain_google_genai==2.1.9
protobuf==6.32.0
python-dotenv==1.1.1
schedule==1.2.2
google-generativeai
